In [1]:
import pandas as pd
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import networkx as nx
from math import sin, cos, sqrt, atan2, radians

In [2]:
import networkx as nx

In [3]:
name_file='FWP Example Realistic.xlsx'
fwp= pd.read_excel(name_file)

In [4]:
fwp.head()

,jv_ID,areaName,sectionID,locFrom,locTo,lane,info_area_m2,info_jv_latitude,info_jv_longitude,info_surf_class,...,Treatment_2032,Treatment_2033,Treatment_2034,Treatment_2035,Treatment_2036,Treatment_2037,Treatment_2038,Treatment_2039,Treatment_2040,Treatment_2041
0,292036,AARON PLACE_8_id_1094,1094,8,127,All,785.4,-37.694304,176.128057,ac,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ChipSeal,NaN,NaN
1,292037,AARON PLACE HAMMERHEAD_0_id_1095,1095,0,50,All,365.0,-37.694977,176.127427,ac,...,NaN,NaN,ChipSeal,NaN,NaN,NaN,NaN,NaN,NaN,ChipSeal
2,292038,AARON PLACE HAMMERHEAD_80_id_1095,1095,80,113,All,267.3,-37.695154,176.128164,ac,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ChipSeal,NaN
3,292039,AARON PLACE RAB_0_id_1362,1362,0,53,All,307.4,0.000000,0.000000,ac,...,NaN,NaN,ThinAC_SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,292040,ABELIA AVENUE_18_id_1028,1028,18,67,All,367.5,-37.682016,176.237100,ac,...,NaN,ChipSeal,NaN,NaN,NaN,NaN,NaN,NaN,ChipSeal,NaN

In [5]:
def distance(lat1, lon1, lat2, lon2):
    
    # approximate radius of earth in km
    R = 6373.0
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1)*cos(lat2)*sin(dlon/2)**2
    c = 2*atan2(sqrt(a), sqrt(1-a))
    distance = R*c
    return distance

In [ ]:
#plot